POSTGRES_DB=shop
POSTGRES_USER=shop_user
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5432

DB_HOST=postgres
DB_PORT=5432
DB_NAME=shop
DB_USERNAME=shop_user
DB_PASSWORD=change_me

REDIS_HOST=redis
REDIS_PORT=6379

BACKEND_PORT=8080

DB_CONTAINER_NAME=shop-postgres
REDIS_CONTAINER_NAME=shop-redis
BACKEND_CONTAINER_NAME=shop-backend

NETWORK_NAME=shop-backend-network

GHCR_OWNER=your_github_username

NGINX_PORT=your_data
NGINX_CONTAINER_NAME=your_data